# Django settings
DJANGO_BASE_URL=http://
ALLOWED_HOSTS=localhost,127.0.0.1,

DEBUG=True
SECRET_KEY=

MEDIA_ROOT=./storage

# Database settings
DB_NAME=mycloud_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432